---
kind: JoinConfiguration
apiVersion: kubeadm.k8s.io/v1beta2
discovery:
  bootstrapToken:
    token: "{{ joining_token }}"
    caCertHashes:
      - "sha256:{{ certificate_hash }}"
    apiServerEndpoint: {{ k8s_control_plane_host }}:{{ k8s_control_plane_port }}
controlPlane:
  certificateKey: {{ certificate_secret }}
  localAPIEndpoint:
    advertiseAddress: {{ k8s_ip }}
    bindPort: {{ k8s_api_bind_port }}
nodeRegistration:
  name: {{ inventory_hostname }}
  criSocket: /run/containerd/containerd.sock
  taints:
    - key: "kubeadmNode"
      value: "master"
      effect: "NoSchedule"
  kubeletExtraArgs:
    node-ip: {{ k8s_ip }}